@use "../../index.scss" as *;
@use "sass:color";

.footer {
    background: $primary-color;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
    text-align: center;
    position: relative;
    border-top: 4px solid color.adjust($primary-color, $lightness: -10%);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footerSection {
    flex: 1;
    min-width: 250px;
    text-align: left;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: white;
        border-bottom: 2px solid color.adjust($secondary-color, $lightness: 10%);
        padding-bottom: 5px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
        font-size: 1.2rem;
    }

    a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: color.adjust($primary-color, $lightness: 30%);
        }
    }
}

.footerBottom {
    margin-top: 20px;
    font-size: 0.85rem;
    opacity: 0.8;
    padding-top: 10px;
    border-bottom: 2px solid color.adjust($secondary-color, $lightness: 10%);
    a {
        color: white;
        font-weight: bold;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: color.adjust($primary-color, $lightness: 30%);
        }
    }
}
