
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  width: calc(1200px - 350px);
  padding-right: 20px;
}

.rightSidebar {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
